{% extends "partials/layout.twig" %}
{% block content %}
    <h1 class="page-header">
        <a href="{{'producto/crud'|url}}" class="btn btn-default pull-right">Nuevo</a>
        <button data-toggle="modal" data-target="#modal-importar" class="btn btn-success pull-right mg-right"><i class="fa fa-upload"></i> Importar</button>
        <a class="btn btn-primary pull-right mg-right" href="{{'producto/exportar'|url}}"><i class="fa fa-download"></i> Exportar</a>
        Productos
    </h1>

    <ol class="breadcrumb">
        <li class="active">Productos</li>
    </ol>

    <div id="grid"></div>

    <div id="modal-importar" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form class="modal-content" method="post" action="{{ 'producto/importar'|url }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Importar de CSV</h4>
                </div>
                <div class="modal-body">
                    <div class="alert-container"></div>
                    <div class="form-group">
                        <label>Archivo</label>
                        <input type="file" name="archivo" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" data-ajax="true" class="btn btn-primary">Importar</button>
                </div>
            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    var data = {
        class: 'table-striped table-bordered table-condensed table-hover',
        columnas: [
            { style: 'width:60px;' },
            { leyenda: 'Nombre', class: '', ordenable: true, columna: 'nombre' },
            { leyenda: 'Marca', class: '', ordenable: true, columna: 'marca' },
            { leyenda: 'Costo', class: '', ordenable: true, columna: 'costo' },
            { leyenda: 'Precio', class: '', ordenable: true, columna: 'precio' },
            { leyenda: 'Utilidad', class: '' },
            { leyenda: 'Margen', class: '' },
            { style: 'width:40px;' }
        ],
        modelo: [
            { propiedad: 'foto', formato: function(tr, obj, valor){
                        if(valor == null) return;
                        return '<img src="' + base_url('public/' + valor) + '" class="img-responsive" />';
                    }},
            { propiedad: 'nombre', formato: function(tr, obj, valor){
                return anexGrid_link({
                    href: '{{ 'producto/crud/'|url }}' + obj.id,
                    contenido: valor 
                });
            }},
            { propiedad: 'marca' },
            { propiedad: 'costo', class: 'text-right', formato: function(tr, obj, valor){ return 'MXN '+valor} },
            { propiedad: 'precio', class: 'text-right', formato: function(tr, obj, valor){ return 'MXN '+valor} },
            { class: 'text-right', formato: function(tr, obj, valor){ return 'MXN '+Formulas.calcularUtilidad(obj.costo, obj.precio).toFixed(2)} },
            { class: 'text-right', formato: function(tr, obj, valor){
                var utilidad = Formulas.calcularMargenUtilidad(obj.costo, obj.precio).toFixed(0)
                return '<small class="label label-info">'+utilidad+' %</small>' }
            },
            { propiedad: 'id', formato: function(tr, obj, valor){
                return anexGrid_boton({
                    type: 'button',
                    class: 'btn btn-xs btn-danger btn-block btn-eliminar',
                    value: valor,
                    contenido: '<i class="fa fa-trash"></i>'
                });
            }},
        ],
        url: '{{ 'producto/grid'|url }}',
        paginable: true,
        limite: [20, 60, 100],
        columna: 'id',
        columna_orden: 'desc'
    };

    var grid = $("#grid").anexGrid(data);

    grid.tabla().on('click', '.btn-eliminar', function(){
        var obj = $(this);
        obj.attr('disabled', true);

        $.post(base_url('producto/eliminar'), {
            id: obj.val()
        }, function(r){
            if(r.response){
                grid.refrescar();
            } else {
                alert(r.message);
            }
        }, 'json')
        grid.refrescar();
    })
})
</script>
{% endblock %}